header, footer{
    text-align: center;
    font-style: italic;
    color: darkcyan;
}
header{
    font-family:fantasy;
    font-size: 18pt;
}
footer{
    font-size: 12pt;
}
/*body {
    margin:auto;
    height: 600px;
    width: 600px; -->
}