/* @import("./css/bootstrap.min.css"); */
header, footer{
    text-align: center;
    font-style: italic;
    color: darkcyan;
}
header{
    font-family:fantasy;
    font-size: 18pt;
}
footer{
    font-size: 12pt;
}
.alert {
    padding: 20px;
    background-color:darkorange;
    color: white;
    margin-bottom: 15px;
}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover {
    color: black;
}
a:link {
    text-decoration: underline;
    padding-right: 30px;
    color: green;
}
a:visited {
    background-color: rebeccapurple;
}
a:hover {
    font-weight: bold;
}
a:active {
    text-decoration: none;
    color: red;
}
#menuTable {
    text-align: left;
    width:100%;
    margin-bottom:100px;
}
#menuHeader {
    font-size: 14pt;
    color:darkgreen;
    padding-right: 10px;
    padding-top: 10px;
}
#menuBody {
    padding-right: 10px;
}
#beverageType {
    text-align:left;
    padding-left: 100px;
    padding-bottom: 10px;                
}
#alignR {
    text-align: right;
}
#alignL {
    text-align: left;
    width:198px;
}
#AdditionalInformation {
    width:172px;
    height:50px;
}
#InquiryReason {
    width:173px;
}
#submit{
    text-align:center;
}
#FullName, #EmailAddress, #BestDays {
    color: red;
}
.commonBackground {
    background-color:#B8DDDB;
}
.table>tbody>tr>td,
.table>tbody>tr>th {
  border: none;
}
.removeBorder{ border:none }